---
layout: archive
title: "Portfolio"           # 页面标题
permalink: /portfolio/        # 页面URL
author_profile: true         # 是否显示作者侧边栏
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
```

**可自定义的部分**：
- `title`: 修改页面标题，如改为"项目作品"
- `author_profile`: 控制是否显示侧边栏
- 显示排序方式（当前按默认顺序）


This is an item in your portfolio. It can be have images or nice text. If you name the file .md, it will be parsed as markdown. If you name the file .html, it will be parsed as HTML. 
